

.lw-woo-gdpr-account-item-list {

	list-style-type: none;
	margin: 0 0 20px;
	padding: 0;

	li {

		.lw-woo-gdpr-checkbox-label {
			display: inline-block;
		}

		.lw-woo-required-text {
			display: inline-block;
			padding-left: 10px;
			font-size: 90%;
			font-style: italic;
		}

	}
}


.lw-woo-gdpr-data-options {

	margin: 0 0 20px;

	.lw-woo-gdpr-data-option {
		display: block;
		width: 100%;
		margin: 0 0 4px 0;
		line-height: 24px;
		text-align: left;

		input {
			cursor: pointer;
			display: inline-block;
			vertical-align: middle;
			margin: 3px 4px 0 4px;
			height: 24px;
		}

		label {
			cursor: pointer;
			display: inline-block;
			vertical-align: middle;
			line-height: 24px;
		}

		&.lw-woo-gdpr-data-option-inline {
			display: inline-block;
			width: auto;
			margin: 0 20px 0 0;
		}

		&.lw-woo-gdpr-download-option {

			.data-option-label {
				display: inline-block;
				min-width: 90px;
				margin-right: 5px;

				&:after {
					content: ":";
				}
			}

		}

		&.lw-woo-gdpr-data-option-disabled {

			input {
				cursor: default;
			}

			label {
				opacity: 0.6;
				font-style: italic;
				cursor: default;
			}
		}

		&.lw-woo-gdpr-data-option-pending {

			display: inline-block;
			vertical-align: middle;

			.lw-woo-gdpr-data-option-icon {
				text-align: left;
				margin: 1px 4px 0 0;
				opacity: 0.85;
			}
		}
	}
}

.lw-woo-gdpr-section-description {
	font-style: italic;
}


@media only screen and (max-width: 782px) {

}


@media only screen and (max-width: 600px) {

}

