
.lw-woo-gdpr-notice {

	clear: both;
	width: 100%;
	display: block;
	border: 1px solid #778899;
	border-radius: 3px;
	background-color: #fff;
	padding: 7px;
	margin: 0 auto 20px;

	&.lw-woo-gdpr-notice-success {
		border-color: #4f8a10;
		background-color: rgb(79, 138, 16);
		background-color: rgba(79, 138, 16, 0.2);
	}

	&.lw-woo-gdpr-notice-warning {
		border-color: #e5822b;
		background-color: rgb(229, 130, 43);
		background-color: rgba(229, 130, 43, 0.2);
	}

	&.lw-woo-gdpr-notice-error {
		border-color: #bc2f25;
		background-color: rgb(188, 47, 37);
		background-color: rgba(188, 47, 37, 0.2);
	}

	p {
		font-size: 15px;
		line-height: 20px;
		text-align: center;
		margin: 0;
		color: #222;
	}
}


@media only screen and (max-width: 782px) {

}


@media only screen and (max-width: 600px) {

}

