
.lw-woo-gdpr-requests-admin-table {

	max-width: 96%;

	.checkbox-column {
		width: 16px;

		input {
			margin: 0;
		}
	}

	.gutter-row {
		font-size: 0;
	}
}

.lw-woo-gdpr-request-date {
	cursor: help;
}

.lw-woo-admin-datatypes-list {
	margin: 0;

	li {
		color: #555;
		margin: 0;
		padding: 0 0 1px;
	}
}

.lw-woo-gdpr-days-remain-count {

	font-size: 16px;
	line-height: 22px;
	color: #000;
	cursor: help;

	abbr {
		text-decoration: none;
	}

	&.lw-woo-gdpr-days-remain-expired { font-weight: bold; }
	&.lw-woo-gdpr-days-remain-red { color: #bc2f25; }
	&.lw-woo-gdpr-days-remain-orange { color: #e5822b; }
	&.lw-woo-gdpr-days-remain-green { color: #4f8a10; }


}

@media only screen and (max-width: 782px) {

}


@media only screen and (max-width: 600px) {

}

