
.lw-woo-gdpr-requests-admin-table {

	max-width: 96%;

	.checkbox-column {
		width: 16px;

		input {
			margin: 0;
		}
	}

	.gutter-row {
		font-size: 0;
	}
}


@media only screen and (max-width: 782px) {

}


@media only screen and (max-width: 600px) {

}

